#navbarNav{
    padding-left: 850px;
}
.hero-image {
    background-image: url('header-image.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-image h1 {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}
body{
    background-color: #F4EDD3;
}
tr td{
    background-color: #A5BFCC;
}
.card{
    background-color: #A5BFCC;
}
table{
    background-color: #A5BFCC;
}